*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.DS_*

# project specific directories
build/
run0/logs_pettingzoo_grid_shared/
run0/checkpoints_pettingzoo_grid_shared/
run0/action_analysis*/
run0/data/*.bin
run0/data/*.out
run0/model_visualizations/
run0/episode_plots/
run0/ridgeplots/
run0/visualization*/
run0/*png
run0/cans/
run0/R-*
run0/E-*
run0/*.tar.gz
run0/__pycache__/

*.tar.gz

run/
run1/
run2/
run0_*/
run_*/
runPPO/

run0/cans
run0/launch.sh

# specific files
ACKNOWLEDGEMENTS
CONTRIBUTORS
LICENSE

# exclude minimal model inspector
inspect_model_minimal.py

pod_analysis/*png
pod_analysis/*dat
pod_analysis/*bin
pod_results_vez
pod_clean_results